.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 3rem;
  width: 100%;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  position: fixed;
  right: 20px;
  bottom: 50px;
  border: none;
  outline: none;
  background: var(--color-submit-normal);
  font-family: var(--font-family);
  font-size: var(--font-size-2x);
  color: var(--font-color-default);
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 4px;
}

.submit:hover {
  background: var(--color-submit-hover);
  color: var(--font-color-hover);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
  }

  .content {
    width: 90%;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
  }

  .submit {
    font-size: var(--font-size-normal);
    padding: 0.5rem;
  }
}
